<!DOCTYPE html>
<html lang="es">

    <head>
        <style type="text/css">
            .table-border {
                border: 2px solid black;
                border-radius: 5px;
                margin-bottom: 10px;
            }
            .datos-productos-table{
                line-height: 7.5mm;
            }
            td{
                font-size: 15px;
            }
        </style>
        <title>{{ tipo_pdf }}</title>
    </head>
    
    <body>
    {% include 'PDF/header.html.twig' %}
    {% include 'PDF/cliente.html.twig' %}
    <div class="table-border">
        <table class="datos-productos-table">
            <thead>
            <tr>
                <th class="text-center">N° PRODUCTO</th>
                <th class="text-center">PRODUCTO</th>
                <th class="text-center">CANTIDAD</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="200" align="center">{{ entity.pedidoProducto.numeroOrdenCompleto }}</td>
                <td width="430" align="center">{{ entity.pedidoProducto.productoBandeja }}</td>
                <td width="150" align="center">{{ entity.cantidadBandejas }}</td>
            </tr>
        </table>
    </div>
    </body>
</html>