<style>
    {% include 'PDF/ticket.css.twig' %}
</style>

<div class="ticket">
    {% include 'PDF/header_ticket.html.twig' %}

    <table class="detalle">
        <thead>
        <tr>
        <tr>
            <th>PRODUCTO</th>
            <th>CANTIDAD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ entity.pedidoProducto.productoBandeja }}</td>
            <td>{{ entity.cantidadBandejas }}</td>
        </tr>
        </tbody>
    </table>
    <div class="linea"></div>

    <div>¡Gracias por su compra!</div>
</div>
