{% set formErrors = form is defined? form.vars.errors.form.getErrors(true) : null %}
                                    
{% if formErrors|length %}

      <div class="alert alert-custom alert-danger fade show mb-5" role="alert">
        <div class="alert-icon"><i class="fas fa-exclamation-circle"></i></div>
        <div class="alert-text">
             <ul>
                {% for error in formErrors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
  
{% endif %}