<form method="post" action="{{ path('proveedor_delete', {'id': proveedor.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este proveedor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proveedor.id) }}">
    <button class="btn">Delete</button>
</form>
