
###> symfony/framework-bundle ###
/composer.lock
/.env
/.env.original
/.env.local
/.env.local.php
/.env.*.local
/.idea/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations/
.env
.env.prod
.env.dev
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
