<div class="col-md-4 fecha" {% if not is_granted('ROLE_ADMIN') %} style="display: none" {% endif %}>
    <div class="d-flex align-items-center mb-10">
        <div class="symbol symbol-40 symbol-light-primary mr-5">
            <span class="symbol-label">
                <span class="svg-icon svg-icon-xl svg-icon-primary">
                    <i class="fas fa-calendar icon-2x text-dark"></i>
                </span>
            </span>
        </div>
        <div class="d-flex flex-column font-weight-bold">
            <label class="text-dark text-hover-primary mb-1 font-size-lg">Fecha y hora de siembra</label>
            <span class="text-muted fecha-siembra-hidden" style="display: none">{{ entity.fechaSiembraReal is not null ? entity.fechaSiembraReal|date('Y-m-d H:i') : entity.fechaSiembraReal|date('Y-m-d H:i') }}</span>
            <span class="text-muted fecha-siembra">{{ entity.fechaSiembraReal|date('d/m/Y H:i') }}</span>
        </div>
    </div>
</div>
<div class="col-md-4 hora" {% if not is_granted('ROLE_ADMIN') %} style="display: none" {% endif %}>
    <div class="d-flex align-items-center mb-10">
        <div class="symbol symbol-40 symbol-light-primary mr-5">
        <span class="symbol-label">
            <span class="svg-icon svg-icon-xl svg-icon-primary">
                <i class="fas fa-calendar icon-2x text-dark"></i>
            </span>
        </span>
        </div>
        <div class="d-flex flex-column font-weight-bold">
            <label class="text-dark text-hover-primary mb-1 font-size-lg">Hora de siembra</label>
            <span class="text-muted hora-siembra">{{ entity.horaSiembra is not null ? entity.horaSiembra|date('d/m/Y H:i') : '-' }}</span>
        </div>
    </div>
</div>