<div class="form-group observacion-input" style="margin-top: 30px; display: none">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-comment"></i></span>
        </div>
        <label for="observacion"></label><textarea rows="1" class="form-control" data-pedido-id="{{ entity.id }}" id="observacion" placeholder="Observacion">{{ entity.observacion|default('') }}</textarea>
        <div class="input-group-append">
            <button class="btn btn-primary" id="guardar-observacion" type="button">
                <i class="fas fa-save"></i> Guardar
            </button>
        </div>
    </div>
</div>
<div class="form-group observacion-camara-input" style="margin-top: 30px; display: none">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-comment"></i></span>
        </div>
        <label for="observacionCamara"></label><textarea rows="1"  class="form-control" data-pedido-id="{{ entity.id }}" id="observacionCamara" placeholder="Observacion CAMARA">{{ entity.observacionCamara|default('') }}</textarea>
        <div class="input-group-append">
            <button class="btn btn-primary" id="guardar-observacion-camara" type="button">
                <i class="fas fa-save"></i> Guardar
            </button>
        </div>
    </div>
</div>