<div class="col-md-4">
    <div class="d-flex align-items-center mb-10">
        <div class="symbol symbol-40 symbol-light-primary mr-5">
            <span class="symbol-label">
                <span class="svg-icon svg-icon-xl svg-icon-primary">
                    <i class="fas fa-leaf icon-2x text-dark"></i>
                </span>
            </span>
        </div>
        <div class="d-flex flex-column font-weight-bold">
            <span class="label label-inline font-weight-bold" style="background-color:{{ entity.tipoProducto.color }};color:#fff; padding: 20px">{{ entity.numeroOrdenCompleto }} - {{ entity.tipoVariedad }} (X{{ entity.tipoBandeja }})</span>
        </div>
    </div>
</div>