<div class="col-md-6 bandejas-edit" style="display: none">
    <div class="form-group">
        <label class="text-dark text-hover-primary mb-1 font-size-lg font-weight-bold">CANTIDAD BANDEJAS REALES:</label>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-table"></i></span>
            </div>
            <input type="number"
                   class="form-control"
                   id="bandejas"
                   placeholder="Ingrese la cantidad de bandejas"
                   value="{{ entity.cantidadBandejasReales|default(entity.cantidadBandejasReales) }}"
                   min="0"
                   step="0.01">
        </div>
    </div>
</div>