{% if entity is defined %}
    <div class="row">
        <div class="modal-body" style="padding-top: 0;padding-bottom: 0;">
            <div class="row">
                {% include 'pedido_producto/show/_producto.html.twig' %}
                {% include 'pedido_producto/show/_estado.html.twig' %}
                {% include 'pedido_producto/show/_cliente.html.twig' %}
                {% include 'pedido_producto/show/_fecha_siembra.html.twig' %}
                {% include 'pedido_producto/show/_fecha_entrada_camara.html.twig' %}
                {% include 'pedido_producto/show/_fecha_entrega_pedido.html.twig' %}
                {% include 'pedido_producto/show/_cantidad_bandejas.html.twig' %}
                {% include 'pedido_producto/show/_observacion.html.twig' %}
                {% include 'pedido_producto/show/_mesada.html.twig' %}
            </div>


            <div class="row">
                <div class="col-md-12">
                    {% include 'salida_camara/new.html.twig' %}
                </div>
            </div>

            {% include 'pedido_producto/show/_observacion_input.html.twig' %}
        </div>
    </div>
{% endif  %}
<script>
    var __ID_ESTADO__ = {{ entity.estado.codigoInterno }};
</script>