{% extends 'base.html.twig' %}

{% block title %}Edit TipoUsuario{% endblock %}

{% block body %}
    <h1>Edit TipoUsuario</h1>

    {{ include('tipo_usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tipo_usuario_index') }}">back to list</a>

    {{ include('tipo_usuario/_delete_form.html.twig') }}
{% endblock %}
