{% extends 'base.html.twig' %}

{% block title %}Edit TipoBandeja{% endblock %}

{% block body %}
    <h1>Edit TipoBandeja</h1>

    {{ include('tipo_bandeja/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tipobandeja_index') }}">back to list</a>

    {{ include('tipo_bandeja/_delete_form.html.twig') }}
{% endblock %}
