.TOMATE {
    color: #ffffff !important;
    background-color: #F64E60 !important;
}

.PIMIENTO  {
    color: #ffffff !important;
    background-color: #2e6c36 !important;
}

.LECHUGA {
    color: #ffffff !important;
    background-color: #00b918 !important;
}

.BERENJENA {
    color: #ffffff !important;
    background-color: #8950FC !important;
}

.COLES {
    color: #ffffff !important;
    background-color: #0e00b9 !important;
}

.ACELGA {
    color: #ffffff !important;
    background-color: #3699FF !important;
}

.REMOLACHA {
    color: #ffffff !important;
    background-color: #53292a !important;
}

.APIO {
    color: #ffffff !important;
    background-color: #9ACD32 !important;
}

.ZAPALLO {
    color: #ffffff !important;
    background-color: #DCD0FF !important;
}

.PEPINO {
    color: #ffffff !important;
    background-color: #c25658 !important;
}

.INJERTO {
    color: #ffffff !important;
    background-color: #dc7633 !important;
}

.CEBOLLA {
    color: #ffffff !important;
    background-color: grey !important;
}

.PUERRO {
    color: #ffffff !important;
    background-color: #000454 !important;
}

.HINOJO {
    color: #ffffff !important;
    background-color: #cacaca !important;
}

.PENDIENTE{
    filter: opacity(0.5);
}

.band-288 {
    color: red !important;
}

.band-200 {
    color: blue !important;
}

.band-162 {
    color:  #fd20eb !important;
}

.band-128 {
    color: #0eb9b3 !important;
}

.band-72 {
    color: #7401DF !important;
}

.band-50 {
    color: #18771d !important;
}

.band-25 {
    color: #424242 !important;
}

.band-49{
    color: #04B45F !important;
}
