.TOMATE {
    color: #ffffff;
    background-color: #F64E60 !important;
}

.PIMIENTO  {
    color: #ffffff;
    background-color: #2e6c36 !important;
}

.LECHUGA {
    color: #ffffff;
    background-color: #00b918 !important;
}

.BERENJENA {
    color: #ffffff;
    background-color: #8950FC !important;
}

.COLES {
    color: #ffffff;
    background-color: #0e00b9 !important;
}

.ACELGA {
    color: #ffffff;
    background-color: #3699FF !important;
}

.REMOLACHA {
    color: #ffffff;
    background-color: #53292a !important;
}

.APIO {
    color: #ffffff;
    background-color: #9ACD32 !important;
}

.ZAPALLO {
    color: #ffffff;
    background-color: #DCD0FF !important;
}

.PEPINO {
    color: #ffffff;
    background-color: #c25658 !important;
}

.INJERTO {
    color: #ffffff;
    background-color: #dc7633 !important;
}

.CEBOLLA {
    color: #ffffff;
    background-color: #626262 !important;
}

.PUERRO {
    color: #ffffff;
    background-color: #000454 !important;
}

.HINOJO {
    color: #ffffff;
    background-color: #cacaca !important;
}

.SEMBRADO{
    color: #ffffff;
    background-color: grey !important;
}

