<div class="form-group sobre-input" style="margin-bottom: -20px;">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-envelope"></i></span></div>
        <label for="codSobre"></label><input type="text" class="form-control" id="codSobre" placeholder="Ingrese el codigo del sobre" value="{{ entity.codigoSobre|default('') }}">
    </div>
</div>