{% if entity is defined %}
    <div class="row">
        <div class="modal-body" style="padding-top: 0px;padding-bottom: 0px;">
            <div class="row">
                {% include 'pedidoProducto/show/_producto.html.twig' %}
                {% include 'pedidoProducto/show/_estado.html.twig' %}
                {% include 'pedidoProducto/show/_cliente.html.twig' %}
                {% include 'pedidoProducto/show/_fecha_hora_siembra.html.twig' %}

                {% include 'pedidoProducto/show/_cantidad_bandejas.html.twig' %}
                {% include 'pedidoproducto/show/_observacion.html.twig' %}
            </div>
            {% include 'pedidoproducto/show/_observacion_input.html.twig' %}
            {% include 'pedidoproducto/show/cantidad_bandejas_input.html.twig' %}
            {% include 'pedidoproducto/show/fecha_hora_input.html.twig' %}
        </div>
    </div>
{% endif  %}