{% extends 'base.html.twig' %}

{% block title %}Edit TipoSubProducto{% endblock %}

{% block body %}
    <h1>Edit TipoSubProducto</h1>

    {{ include('tipo_sub_producto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tipo_sub_producto_index') }}">back to list</a>

    {{ include('tipo_sub_producto/_delete_form.html.twig') }}
{% endblock %}
