{% extends 'base.html.twig' %}

{% block title %}New TipoSubProducto{% endblock %}

{% block body %}
    <h1>Create new TipoSubProducto</h1>

    {{ include('tipo_sub_producto/_form.html.twig') }}

    <a href="{{ path('app_tipo_sub_producto_index') }}">back to list</a>
{% endblock %}
