<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        .table-border {
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .datos-productos-table{
            line-height: 7.5mm;
        }
    </style>
</head>

<body>
{% include 'PDF/header_interno_ticket.html.twig' %}
{% include 'PDF/cliente.html.twig' %}
<div class="table-border">
    <table class="datos-productos-table">
        <thead>
        <tr>
            <th class="text-center">N° ORDEN</th>
            <th class="text-center">PRODUCTO</th>
            <th class="text-center">CANTIDAD</th>
            <th class="text-center">MESADA</th>
        </tr>
        </thead>
        <tbody>
        {% for entregaProducto in entity.entregasProductos %}
            <tr>
                <td width="190" align="center">{{ entregaProducto.pedidoProducto.numeroOrdenCompleto }}</td>
                <td width="330" align="center">{{ entregaProducto.pedidoProducto.productoBandeja }}</td>
                <td width="130" align="center">{{ entregaProducto.cantidadBandejas }}</td>
                <td width="130" align="center">{{ entregaProducto.pedidoProducto.mesadaUno.tipoMesada.nombre }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>