<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .table-border {
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .datos-productos-table{
            line-height: 7.5mm;
        }
        td{
            font-size: 15px;
        }
    </style>
</head>
<body>
{% include 'PDF/header_interno.html.twig' %}
{% include 'PDF/cliente.html.twig' %}
<div class="table-border">
    <table class="datos-productos-table">
        <thead>
        <tr>
            <th class="text-center">PRODUCTO</th>
            <th class="text-center">CANT. BANDEJAS</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td width="80%" align="center">{{ entity.entregaProducto.pedidoProducto.productoBandeja }}</td>
                <td width="20%" align="center">{% if entity.cantidadBandejas == entity.cantidadBandejas|round(0) %}{{ entity.cantidadBandejas|round(0) }}{% else %}{{ entity.cantidadBandejas }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>
{% if entity.observacion %}
<div style="margin-top: 20px;">
    <strong>Observación:</strong> {{ entity.observacion }}
</div>
{% endif %}
</body>
</html>
