<div class="card card-detail">
    <h4 class="card-header">Observaciones</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="detalle_show">{{ entity.observacion|default('-') }}</div>
                </div>
            </div>
        </div>
    </div>
</div>