{% extends 'base.html.twig' %}

{% import 'app/_macro_form.html.twig' as macro_form %}

{% block title %}
    BABYPLANT
{% endblock %}

{% block body %}
    <!--begin::Notice-->
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-icon">
        <span class="svg-icon svg-icon-primary svg-icon-xl">
            <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Tools/Compass.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                 height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                            d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z"
                            fill="#000000" opacity="0.3" />
                    <path
                            d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z"
                            fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
        </div>
        <div class="alert-text"><b>BABYPLANT</b><br />Le damos la bienvenida!

        </div>
    </div>
    <!--end::Notice-->


    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="jumbotron">
                <div class="row">
                    {# MODULO AGREGAR PEDIDO #}
                    {% if is_granted("ROLE_PEDIDO") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-folder-plus icon-3x text-dark', 'nombreModulo': 'Agregar Pedido', 'action': path('pedido_new'), 'descripcionModulo': '' } %}
                    {% endif %}

                    {# MODULO PEDIDO #}
                    {% if is_granted("ROLE_PEDIDO") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-shopping-bag icon-3x text-dark', 'nombreModulo': 'Ver Pedidos','action': path('pedido_index'), 'descripcionModulo': 'Aqui podras ver todos los pedidos' } %}
                    {% endif %}

                    {# PEDIDOS PLANIFICAR #}
                    {% if is_granted("ROLE_PLANIFICAR") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-clipboard-list icon-3x text-dark', 'nombreModulo': 'Ver Planificacion','action': path('planificacion_index'), 'descripcionModulo': 'Aqui podras ver los pedidos para planificar' } %}
                    {% endif %}

                    {# PLANIFICACION DE SIEMBRA #}
                    {% if is_granted("ROLE_SIEMBRA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-leaf icon-3x text-dark', 'nombreModulo': 'Ver Siembra','action': path('siembra_index'), 'descripcionModulo': 'Aqui podras ver la planificacion de siembra' } %}
                    {% endif %}

                    {# ORDENES EN CAMARA #}
                    {% if is_granted("ROLE_CAMARA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-list-ul icon-3x text-dark', 'nombreModulo': 'Ver Camara','action': path('entradacamara_index'), 'descripcionModulo': 'Aqui podras ver las ordenes en camara' } %}
                    {% endif %}

                    {# ORDENES DE SIEMBRA
                    {% if is_granted("ROLE_SIEMBRA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-leaf icon-3x text-dark', 'nombreModulo': 'Ordenes de siembra','action': path('siembra_index'),'descripcionModulo': 'Aqui podras ver las ordenes de siembra' } %}
                    {% endif %}#}

                    {# SOTCK
                    {% if is_granted("ROLE_STOCK") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-hashtag icon-3x text-dark', 'nombreModulo': 'Bandejas en Stock ','action': '#', 'descripcionModulo': 'Aqui podra ver las bandejas en stock' } %}
                    {% endif %}#}

                    {# PEDIDOS PROBLEMA
                    {% if is_granted("ROLE_PROBLEMAS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-exclamation-triangle icon-3x text-dark', 'nombreModulo': 'Pedidos con Problemas','action': '#', 'descripcionModulo': 'Aqui podra ver los pedidos con problemas' } %}
                    {% endif %}#}

                    {# PLANIFICACION ENTREGA
                    {% if is_granted("ROLE_ENTREGA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-truck icon-3x text-dark', 'nombreModulo': 'Planificacion de Entregas','action': '#', 'descripcionModulo': 'Aqui podra ver la planificacion de entregas' } %}
                    {% endif %}#}

                    {# AGENDA ENTREGA
                    {% if is_granted("ROLE_AGENDA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-calendar-alt icon-3x text-dark', 'nombreModulo': 'Agenda de Entregas','action': '#', 'descripcionModulo': 'Aqui podra ver la agenda de entregas' } %}
                    {% endif %}#}

                    {# HISTORIAL ENTREGA
                    {% if is_granted("ROLE_HISTORIAL") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-history icon-3x text-dark', 'nombreModulo': 'Historial de Entregas','action': '#', 'descripcionModulo': 'Aqui podras ver el historial de entrega' } %}
                    {% endif %}#}

                    {# REMITOS
                    {% if is_granted("ROLE_REMITOS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-receipt icon-3x text-dark', 'nombreModulo': 'Remitos','action': '#', 'descripcionModulo': 'Aqui podra ver los remitos' } %}
                    {% endif %}#}

                    {# ESTADISTICAS
                    {% if is_granted("ROLE_ESTADISTICAS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-poll icon-3x text-dark', 'nombreModulo': 'Estadisticas','action': '#', 'descripcionModulo': 'Aqui podra ver las estadisticas' } %}
                    {% endif %}#}

                    {# MESADAS #}
                    {% if is_granted("ROLE_MESADAS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-table icon-3x text-dark', 'nombreModulo': 'Ver Mesadas','action': '#', 'descripcionModulo': 'Aqui podra ver las mesadas' } %}
                    {% endif %}

                    {# DATOS TECNICOS
                    {% if is_granted("ROLE_TECNICOS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-cogs icon-3x text-dark', 'nombreModulo': 'Datos Tecnicos','action': '#', 'descripcionModulo': 'Aqui podra ver las mesadas' } %}
                    {% endif %} #}

                    {# SITUACION CLIENTE
                    {% if is_granted("ROLE_SITUACION") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-users icon-3x text-dark', 'nombreModulo': 'Situacion Cliente','action': '#', 'descripcionModulo': 'Aqui podra ver la situacion de los clientes' } %}
                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}