{% extends 'base.html.twig' %}

{% import 'app/_macro_form.html.twig' as macro_form %}

{% block title %}
    BABYPLANT
{% endblock %}

{% block body %}
    <!--begin::Notice-->
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
        <div class="alert-icon">
            <i class="fas fa-home"></i>
        </div>
        <div class="alert-text"><b>BABYPLANT</b><br />Le damos la bienvenida!

        </div>
    </div>
    <!--end::Notice-->

    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="jumbotron">
                <div class="row">
                    {# MODULO AGREGAR PEDIDO #}
                    {% if is_granted("ROLE_PEDIDO") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-folder-plus icon-3x text-dark', 'nombreModulo': 'Agregar Pedido', 'action': path('pedido_new'), 'descripcionModulo': '' } %}
                    {% endif %}

                    {# MODULO PEDIDO #}
                    {% if is_granted("ROLE_PEDIDO") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-shopping-bag icon-3x text-dark', 'nombreModulo': 'Ver Pedidos','action': path('pedido_index'), 'descripcionModulo': 'Aqui podras ver todos los pedidos' } %}
                    {% endif %}

                    {# PEDIDOS PLANIFICAR #}
                    {% if is_granted("ROLE_PLANIFICAR") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-clipboard-list icon-3x text-dark', 'nombreModulo': 'Ver Planificacion','action': path('planificacion_index'), 'descripcionModulo': 'Aqui podras ver los pedidos para planificar' } %}
                    {% endif %}

                    {# PLANIFICACION DE SIEMBRA #}
                    {% if is_granted("ROLE_SIEMBRA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-leaf icon-3x text-dark', 'nombreModulo': 'Ver Siembra','action': path('siembra_index'), 'descripcionModulo': 'Aqui podras ver la planificacion de siembra' } %}
                    {% endif %}

                    {# ORDENES EN CAMARA #}
                    {% if is_granted("ROLE_CAMARA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-list-ul icon-3x text-dark', 'nombreModulo': 'Ver Camara','action': path('entradacamara_index'), 'descripcionModulo': 'Aqui podras ver las ordenes en camara' } %}
                    {% endif %}

                    {# ORDENES DE SIEMBRA
                    {% if is_granted("ROLE_SIEMBRA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-leaf icon-3x text-dark', 'nombreModulo': 'Ordenes de siembra','action': path('siembra_index'),'descripcionModulo': 'Aqui podras ver las ordenes de siembra' } %}
                    {% endif %}#}

                    {# SOTCK
                    {% if is_granted("ROLE_STOCK") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-hashtag icon-3x text-dark', 'nombreModulo': 'Bandejas en Stock ','action': '#', 'descripcionModulo': 'Aqui podra ver las bandejas en stock' } %}
                    {% endif %}#}

                    {# PEDIDOS PROBLEMA
                    {% if is_granted("ROLE_PROBLEMAS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-exclamation-triangle icon-3x text-dark', 'nombreModulo': 'Pedidos con Problemas','action': '#', 'descripcionModulo': 'Aqui podra ver los pedidos con problemas' } %}
                    {% endif %}#}

                    {# PLANIFICACION ENTREGA#}
                    {% if is_granted("ROLE_PEDIDO") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-truck icon-3x text-dark', 'nombreModulo': 'Ver Entregas','action': path('entrega_index'), 'descripcionModulo': 'Aqui podra ver las entregas' } %}
                    {% endif %}

                    {# AGENDA ENTREGA #}
                    {% if is_granted("ROLE_AGENDA") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-calendar-alt icon-3x text-dark', 'nombreModulo': 'Ver Reservas','action': path('reserva_index'), 'descripcionModulo': 'Aqui podra ver las reservas' } %}
                    {% endif %}

                    {# HISTORIAL ENTREGA
                    {% if is_granted("ROLE_HISTORIAL") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-history icon-3x text-dark', 'nombreModulo': 'Historial de Entregas','action': '#', 'descripcionModulo': 'Aqui podras ver el historial de entrega' } %}
                    {% endif %}#}


                    {# ESTADISTICAS
                    {% if is_granted("ROLE_ESTADISTICAS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-poll icon-3x text-dark', 'nombreModulo': 'Estadisticas','action': '#', 'descripcionModulo': 'Aqui podra ver las estadisticas' } %}
                    {% endif %}#}

                    {# MESADAS
                    {% if is_granted("ROLE_MESADAS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-table icon-3x text-dark', 'nombreModulo': 'Ver Mesadas','action': '#', 'descripcionModulo': 'Aqui podra ver las mesadas' } %}
                    {% endif %} #}

                    {# REMITOS #}
                    {% if is_granted("ROLE_REMITO") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-receipt icon-3x text-dark', 'nombreModulo': 'Remitos','action': path('remito_index'), 'descripcionModulo': 'Aqui podra ver los remitos' } %}
                    {% endif %}

                    {# DATOS TECNICOS
                    {% if is_granted("ROLE_TECNICOS") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-cogs icon-3x text-dark', 'nombreModulo': 'Datos Tecnicos','action': '#', 'descripcionModulo': 'Aqui podra ver las mesadas' } %}
                    {% endif %} #}

                    {% if is_granted("ROLE_REMITO") %}
                        {% include 'modulo.html.twig' with {'iconClass': 'fas fa-users icon-3x text-dark', 'nombreModulo': 'Situacion Cliente','action': path('situacioncliente_index'), 'descripcionModulo': 'Aqui podra ver la situacion de los clientes' } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}