<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        {% include 'PDF/confirmar.css.twig' %}
    </style>
</head>

<body>
<div class="remito">
    {% include 'PDF/confirmar_header.html.twig' with {remito: entity } %}
    {% include 'PDF/confirmar_body.html.twig' with
        {
            remito: entity,
            entrega: entity.entregas,
            totalSinDescuento:entity.totalSinDescuento,
            total: entity.totalConDescuento
        } %}
</div>
</body>
</html>