{% extends 'base.html.twig' %}

{% block title %}New TipoVariedad{% endblock %}

{% block body %}
    <h1>Create new TipoVariedad</h1>

    {{ include('tipo_variedad/_form.html.twig') }}

    <a href="{{ path('app_tipo_variedad_index') }}">back to list</a>
{% endblock %}
