<div class="row margin-right-20 margin-left-20">
    <div class="col-xl-3">
        <div class="card card-custom card-stretch gutter-b bg-light-success ">
            <div class="card-body d-flex align-items-center py-0 success ">
                <i class="fa fa-money-bill-wave icon-3x text-dark mr-15"></i>
                <div class="d-flex flex-column flex-grow-1 py-2 py-lg-5">
                    <a href="#" class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-2 text-hover-primary">${{ indicadorGastoData.montoTotal|number_format(2, ',', '.') }}</a>
                    <span class="font-weight-bold text-dark  font-size-lg">Monto Total</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3">
        <div class="card card-custom card-stretch gutter-b bg-light-info ">
            <div class="card-body d-flex align-items-center py-0 info ">
                <i class="fa fa-hashtag icon-3x text-dark mr-15"></i>
                <div class="d-flex flex-column flex-grow-1 py-2 py-lg-5">
                    <a href="#" class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-2 text-hover-primary">{{ indicadorGastoData.cantidad }}</a>
                    <span class="font-weight-bold text-dark  font-size-lg">Cantidad Operaciones</span>
                </div>
            </div>
        </div>
    </div>
</div>

