<div class="table-border header">
    <table width="100%" border="0">
        <tr>
            <td>
                <table cellpadding="5" cellspacing="5" style="padding: 0;">
                    <tr>
                        <td align="right"><strong>NOMBRE</strong></td>
                        <td>{{ entity.cliente.nombreCompleto|default('-') }}</td>
                        <td align="right"><strong>CUIT</strong></td>
                        <td>{{ entity.cliente.cuit|default('-') }}</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>CELULAR</strong></td>
                        <td>{{ entity.cliente.celular|default('-') }}</td>
                        <td align="right"><strong>DOMICILIO</strong></td>
                        <td>{{ entity.cliente.domicilio|default('-') }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>