<div class="table-border header">
    <table width="100%" border="0">
        <tr>
            <td>
                <img src="{{ asset('images/logo/logo.png') }}" width="45mm" height="20mm">
            </td>

            <td>
                <table cellpadding="3" cellspacing="0" style="padding: 0;">
                    <tr>
                        <td align="right"><strong>RAZÓN SOCIAL</strong></td>
                        <td>Baby Plant srl</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>CUIT</strong></td>
                        <td>33-71230651-9</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>WEB</strong></td>
                        <td>www.babyplant.com.ar</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>DIRECCIÓN</strong></td>
                        <td>44 4303</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>LOCALIDAD</strong></td>
                        <td>Lis. Olmos la Plata</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>TELÉFONO</strong></td>
                        <td>0221 15-669-0199</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>