{# MENU CONFIGURACION #}
{% if is_granted("ROLE_MENU_PEDIDO") %}
    {% include 'menu/menu_pedido.html.twig' %}
{% endif %}
{% if is_granted("ROLE_PEDIDO") %}
<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('planificacion_index') }}" class="menu-link ">
        <span class="menu-text">PLANIFICACIÓN</span>
    </a>
</li>
{% endif %}
{% if is_granted("ROLE_SIEMBRA") %}
<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('siembra_index') }}" class="menu-link ">
        <span class="menu-text">SIEMBRA</span>
    </a>
</li>
{% endif %}
{% if is_granted("ROLE_ENTRADA_CAMARA") %}
    <li class="menu-item " aria-haspopup="true">
        <a href="{{ path('entradacamara_index') }}" class="menu-link ">
            <span class="menu-text">ENTRADA CAMARA</span>
        </a>
    </li>
{% endif %}
{% if is_granted("ROLE_SALIDA_CAMARA") %}
    <li class="menu-item " aria-haspopup="true">
        <a href="{{ path('salidacamara_index') }}" class="menu-link ">
            <span class="menu-text">SALIDA CAMARA</span>
        </a>
    </li>
{% endif %}
{% if is_granted("ROLE_MENU_CONFIGURACION") %}
    {% include 'menu/menu_configuracion.html.twig' %}
{% endif %}

{# MENU SEGURIDAD #}
{% if is_granted("ROLE_MENU_SEGURIDAD") %}
    {% include 'menu/menu_seguridad.html.twig' %}    
{% endif %}

{# MENU SEGURIDAD #}
{% if is_granted("ROLE_ESTADISTICAS") %}
    {% include 'menu/menu_estadisticas.html.twig' %}
{% endif %}
