<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">ESTADISTICAS</span><i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left" data-hor-direction="menu-submenu-left">
        <ul class="menu-subnav">
            {% if is_granted("ROLE_ESTADISTICAS") %}
                <li class="menu-item " aria-haspopup="true">
                    <a href="{{ path('estadisticas_entregas') }}" class="menu-link ">
                        <span class="menu-text">Entregas</span>
                    </a>
                </li>
                <li class="menu-item " aria-haspopup="true">
                    <a href="{{ path('estadisticas_remitos') }}" class="menu-link ">
                        <span class="menu-text">Remitos</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</li>