<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">ADMINISTRACIÓN</span><i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left" data-hor-direction="menu-submenu-left">
        <ul class="menu-subnav">
            {% if is_granted("ROLE_GASTO") %}
                {% include 'menu/menu_gasto.html.twig' %}
                <hr class="m-0">
            {% endif %}
            {% if is_granted("ROLE_FACTURA") %}
                {% include 'menu/menu_factura.html.twig' %}
                <hr class="m-0">
            {% endif %}
            {% if is_granted("ROLE_ESTADISTICAS") %}
                {% include 'menu/estadiscticas.html.twig' %}
                <hr class="m-0">
            {% endif %}
            {% if is_granted("ROLE_USUARIO_ALL") %}
                <li class="menu-item " aria-haspopup="true">
                    <a href="{{ path('usuario_index') }}" class="menu-link ">
                        <span class="menu-text">Clientes / Usuarios</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_GRUPO_VIEW") %}
                <li class="menu-item " aria-haspopup="true">
                    <a href="{{ path('grupo_index') }}" class="menu-link ">
                        <span class="menu-text">Grupos</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</li>