{% import 'app/_macro_form.html.twig' as macro_form %}
{{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}
{{ form_widget(form._token) }}
<div class="cleardiv row">
    <div class="col-md-12">
        <div class="form-group prototype-mesada" data-prototype="{% apply escape %}{% include 'salida_camara/prototype.mesada.html.twig' with {'pedidoProductoMesada': form.mesadas.vars.prototype} %}{% endapply %}">
            {% for pedidoProductoMesada in form.mesadas %}
                {% include 'salida_camara/prototype.mesada.html.twig' %}
            {% endfor %}
        </div>
        <div class="row add-mesada">
            <div class="col-md-12">
                <a href="#" class="btn btn-light-success btn-sm prototype-link-add-mesada tooltips"
                   data-placement="right" title="Agregar mesada">
                    <i class="fa fa-plus"></i> Agregar
                </a>
            </div>
        </div>
    </div>
</div>
{{ form_end(form, {"render_rest": false}) }}