<div class="dropdown">
    <!--begin::Toggle-->
    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 notificaciones-pulse pulse-primary">
            <i class="fas fa-bell"></i>
            <span class="notification-badge" style="
        position: absolute;
        top: 0;
        right: 0;
        background: #f64e60;
        color: white;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;"></span>
            <span class="pulse-ring"></span>
        </div>
    </div>
    <!--end::Toggle-->

    <!--begin::Dropdown-->
    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
        <form>
            <!--begin::Header-->
            <div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url({{ asset('theme/media/misc/bg-1.jpg')}}); padding-bottom: 3rem;">
                <!--begin::Title-->
                <h4 class="d-flex flex-center rounded-top">
                    <span class="text-white">Notificaciones</span>
                    <span class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2"><span class="total-notificaciones">0</span> nuevas</span>
                </h4>
                <!--end::Title-->
            </div>
            <!--end::Header-->

            <!--begin::Nav-->
            <div id="content-notificaciones" class="navi navi-hover scroll my-4" data-scroll="true">                
            </div>
            <!--end::Nav-->
        </form>
    </div>
    <!--end::Dropdown-->
</div>